<div class="card {{ role }}">
  <div class="card-body">
    <h3 class="card-title "><strong>Employee {{ index }}:</strong> {{ role }}</h3>
    <table class="card-text table table-striped">
      <tr>
        <th>Name</th>
        <td>{{ name }}</td>
      </tr>
      <tr>
        <th>Role</th>
        <td>{{ role }}</td>
      </tr>
      <tr>
        <th>ID</th>
        <td>{{ id }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ email }}</td>
      </tr>
      {{ special }}
    </table>
  </div>
</div>